body {
    background: lightgray;
    text-align: center;
}

h1 {
    font-family: sans-serif;
    color: gray;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    margin: 30px auto auto;
    border: 0.5px solid gray;
}

.row {
    display: flex;
    width: 100%;
}

.cell {
    flex-grow: 1;
    flex-basis: calc(100% / 16);
    border: 0.5px solid gray;
    background: white;
}

button {
    background: white;
    font-size: 20px;
    padding: 10px;
    color: gray;
    border: 2px solid gray;
    border-radius: 5px;
    margin-top: 20px;
}

button:hover {
    border: 2px solid lightgray;
    color: lightgray;
}