body {
    background: lightgray;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    margin: auto;
    border: 0.5px solid gray;
}

.row {
    display: flex;
    width: 100%;
}

.cell {
    width: calc(100% / 16);
    border: 0.5px solid gray;
    box-sizing: border-box;
    flex-grow: 1;
    background: white;
}

button {
    background: white;
    font-size: 20px;
    padding: 10px;
    color: gray;
    border: 2px solid gray;
    border-radius: 5px;
    margin-top: 20px;
}