body {
    box-sizing: border-box;
}

#container {
    width: 600px;
    height: 600px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

#grid-square {
    border: 1px solid;
    width: 1em;
    height: 1em;
}

#grid-square:nth-child(16n + 1) {
    width: 100%;
    height: 0;
    border: 0;
}